.classlist-container-web {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  background-color: #fff;
  border-bottom: 1px solid #e0e5eb;
  margin-bottom: 5px;
}

.classlist-web-loading {
  height: 80px;
  width: 100%;
  text-align: center;
  color: #549cf8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.classlist-web-item {
  width: 10%;
  height: 20px;
  text-align: center;
}
